mixin heading-lv2(align, pattern, dataSample)
    -
        var hoge = '';
        var same = '';
    div.heading-lv2(style = `text-align: ${this.align};`)
        h2
            span
                block
        p This is Sample.